{% extends "base.html" %}
{% block title %}
 Produtos | {{block.super}}
{% endblock title %}

{% block container %}
<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="#">Inicio</a></li>
  <li class="breadcrumb-item active">Produtos</li>
</ol>
<div class="container">
   <div class="row">
<div class="card border-light mb-3 m-4" style="max-width: 20rem;">

  <div class="card-body">
<img src="https://oreidoscabelos.com.br/media/catalog/product/cache/1/small_image/295x295/9df78eab33525d08d6e5fb8d27136e95/o/n/ondulado_40cm_1.jpg" alt="">
  </div>
</div>
<div class="card border-light  mb-3  m-4" style="max-width: 20rem;">

  <div class="card-body">
    <img src="https://oreidoscabelos.com.br/media/catalog/product/cache/1/small_image/295x295/9df78eab33525d08d6e5fb8d27136e95/c/a/cacheado_permanentado_40cm.jpg" alt="">

  </div>
</div>
<div class="card border-light  mb-3  m-4" style="max-width: 20rem;">

  <div class="card-body">
    <img src="https://oreidoscabelos.com.br/media/catalog/product/cache/1/small_image/295x295/9df78eab33525d08d6e5fb8d27136e95/l/i/liso_mesclado_60cm.jpg" alt="">
  </div>
</div>
<div class="card border-light  mb-3  m-4" style="max-width: 20rem;">

  <div class="card-body">
    <img src="https://oreidoscabelos.com.br/media/catalog/product/cache/1/small_image/295x295/9df78eab33525d08d6e5fb8d27136e95/l/i/liso_preto_70cm.jpg" alt="">
  </div>
</div>
<div class="card border-light  mb-3  m-4" style="max-width: 20rem;">

  <div class="card-body">
    <img src="https://oreidoscabelos.com.br/media/catalog/product/cache/1/small_image/295x295/9df78eab33525d08d6e5fb8d27136e95/l/i/liso_preto_60cm.jpg" alt="">
  </div>
</div>
<div class="card border-light  mb-3  m-4" style="max-width: 20rem;">

  <div class="card-body">
    <img src="https://oreidoscabelos.com.br/media/catalog/product/cache/1/small_image/295x295/9df78eab33525d08d6e5fb8d27136e95/o/n/ondulado_70cm.jpg" alt="">
  </div>
</div>
<div class="card border-light  mb-3  m-4" style="max-width: 20rem;">

  <div class="card-body">
    <img src="https://oreidoscabelos.com.br/media/catalog/product/cache/1/small_image/295x295/9df78eab33525d08d6e5fb8d27136e95/o/n/ondulado_60cm.jpg" alt="">
  </div>
</div>

<div class="card border-light  mb-3  m-4" style="max-width: 20rem;">

  <div class="card-body">
    <img src="https://oreidoscabelos.com.br/media/catalog/product/cache/1/small_image/295x295/9df78eab33525d08d6e5fb8d27136e95/l/i/liso_mel_70cm.jpg" alt="">
  </div>
</div>
<div class="card border-light  mb-3  m-4" style="max-width: 20rem;">

  <div class="card-body">
    <img src="https://oreidoscabelos.com.br/media/catalog/product/cache/1/small_image/295x295/9df78eab33525d08d6e5fb8d27136e95/o/n/ondulado_60cm.jpg" alt="">
  </div>
</div>
<div class="card border-light mb-3  m-4" style="max-width: 20rem;">

  <div class="card-body">
    <img src="https://oreidoscabelos.com.br/media/catalog/product/cache/1/small_image/295x295/9df78eab33525d08d6e5fb8d27136e95/l/i/liso_loiro_70cm_1.jpg" alt="">
  </div>
</div>
<div class="card border-light  mb-3  m-4" style="max-width: 20rem;">

  <div class="card-body">
    <img src="https://oreidoscabelos.com.br/media/catalog/product/cache/1/small_image/295x295/9df78eab33525d08d6e5fb8d27136e95/o/n/ondulado_60cm.jpg" alt="">
  </div>
</div>


</div>
</div>
{% endblock container %}
