{% extends "base.html" %}
{% block title %}
 Produto | {{block.super}}
{% endblock title %}

{% block container %}
<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="#">Inicio</a></li>
  <li class="breadcrumb-item">Produto</li>

</ol>


<div class="jumbotron">
  <h1>Navbar example</h1>
  <p class="lead">This example is a quick exercise to illustrate how the top-aligned navbar works. As you scroll, this navbar remains in its original position and moves with the rest of the page.</p>
  <a class="btn btn-lg btn-primary" href="../../components/navbar/" role="button">View navbar docs &raquo;</a>
</div>


{% endblock container %}
